
<h2>Note #<%= @note.id%></h2>

<br>
<% if @note.contact %>
  <h4>A Note about <%= @note.contact.name%></h4>
  <p><%=@note.content%></p>
  <br>
  <form method="get" action="/notes/<%=@note.id%>/edit/for_contact">
    <input type="submit" value="Edit Note">
  </form>
<%end%>

<% if @note.interaction %>
  <h4>A Note about <%= @note.interaction.date%></h4>
  <p><%=@note.content%></p>
  <br>
  <form method="get" action="/notes/<%=@note.id%>/edit/for_interaction">
    <input type="submit" value="Edit Note">
  </form>
<%end%>

<br>
<form method="post" action="/notes/<%=@note.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Note">
</form>