<h2><%= @note.user.username%>'s Note</h2>
<h2>Note #<%= @note.id%></h2>

<br>
<h4>Contacts associated with Note #<%=@note.id%></h4>
<%@note.contacts.each do |c|%>
  <%= c.name%><br>
<%end%>

<br>
<h4>Interactions associated with Note #<%=@note.id%></h4>
<%@note.interaction.each do |i|%>
  <%= i.date%><br>
<%end%>

<br>
<form method="get" action="/notes/<%=@note.id%>/edit">
  <input type="submit" value="Edit Note">
</form>

<br>
<form method="post" action="/notes/<%=@note.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Note">
</form>