<h2> Edit this Contact </h2>

<%if @contact && @contact.errors.any?%>
  <%@contact.errors.messages.each do |k,v|%>
    <p class="alert"><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%><br>
<%end%>
<%if @interaction && @interaction.errors.any?%>
  <%@interaction.errors.messages.each do |k,v|%>
    <p class="alert"><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%><br>
<%end%>
<%if @note && @note.errors.any?%>
  <%@note.errors.messages.each do |k,v|%>
    <p class="alert"><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%><br>
<%end%>

<form method="post" action="/contacts/<%=@contact.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Name:</label>
  <input type="text" name="contact[name]" value="<%=@contact.name%>">
  <br></br>
  <label>Location:</label>
  <input type="text" id="contact_location" name="contact[location]" value="<%=@contact.location%>">
  <br></br>
  <label>Employer:</label>
  <input type="text" id="contact_employer" name="contact[employer]" value="<%=@contact.employer%>">
  <br></br>
  <label>Email:</label>
  <input type="text" id="contact_email" name="contact[email]" value="<%=@contact.email%>">
  <br></br>
  <label>Telephone:</label>
  <input type="text" id="contact_telephone" name="contact[telephone]" value="<%=@contact.telephone%>">
  <br></br>
  <label>Slack:</label>
  <input type="text" id="contact_slack" name="contact[slack]" value="<%=@contact.slack%>">
  <br></br>
  <label>Image Url:</label>
  <input type="text" id="contact_image_url" name="contact[image_url]" value="<%=@contact.image_url%>">
  <br></br>
  <label>GitHub:</label>
  <input type="text" id="contact_github" name="contact[git_hub_url]" value="<%=@contact.git_hub_url%>">
  <br></br>
  <label>LinkedIn:</label>
  <input type="text" id="contact_linkedin" name="contact[linked_in_url]" value="<%=@contact.linked_in_url%>">
  <br></br>
  <br></br>

  <label>Choose an existing interaction:</label>
 
  <br></br>
 
  <%@user.interactions.each do |i|%>
    <input type="checkbox" name="contact[interaction_ids][]" id="<%= i.id%>" value="<%=i.id%>" <%='checked' if @contact.interactions.include?(i) %>><%=i.date%></input>
  <%end%>
 
  <br></br>
 
  <label>and/or, create a new interaction:</label>
  <br></br>
  <label>Date:</label>
    <input  type="text" name="interaction[date]" id="interaction_date"></input>

 
  <br></br>
  <br></br>
 
  <label>Add a new Note about this Contact</label>
  <br></br>
  <label>Content:</label>
    <input  type="text" name="note[content]" id="note_content"></input>
  <br></br>


  <button type="submit" value="Submit" class="create-button">Submit</button>
  <br></br>
</form>
