<h2><%= @contact.user.username%>'s Contact</h2>
<h2><%= @contact.name%></h2>

<% if @contact.image_url %>
  <img src="<%= @contact.image_url %>" />
<%end%>

<% if @contact.location && @contact.location != ""%>
  <p>Location: <%= @contact.location %></p>
<%end%>

<% if @contact.employer && @contact.employer != ""%>
  <p>Employer: <%= @contact.employer %></p>
<%end%>

<% if @contact.email && @contact.email != ""%>
  <p>Email: <a href="mailto:<%=@contact.email%>"><%= @contact.email %></a></p>
<%end%>

<% if @contact.telephone && @contact.telephone != ""%>
  <p>Telephone: <%= @contact.telephone %></p>
<%end%>

<% if @contact.slack && @contact.slack != ""%>
  <p>Slack:<%= @contact.slack %></p>
<%end%>

<% if @contact.git_hub_url && @contact.git_hub_url != ""%>
  <p><a href="<%=@contact.git_hub_url%>">GitHub</a></p>
<%end%>

<% if @contact.linked_in_url && @contact.linked_in_url != ""%>
  <p><a href="<%=@contact.linked_in_url%>">LinkedIn</a></p>
<%end%>

<br>
<h4>Notes about <%=@contact.name%></h4>
<%@contact.notes.each do |n|%>
  <a href="/notes/<%=n.id%>"><%=n.id%></a>
  <%= n.content%><br>
<%end%>

<br>
<h4>Interactions with <%=@contact.name%></h4>
<%@contact.interactions.each do |i|%>
  <a href="/interactions/<%=i.id%>"><%= i.date%></a><br>
<%end%>
<br>

<br>
<form method="get" action="/contacts/<%=@contact.id%>/edit">
  <button type="submit" value="Edit Contact" class="create-button">Edit Contact</button>
</form>

<br>
<form method="post" action="/contacts/<%=@contact.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" value="Delete Contact" class="create-button">Delete Contact</button>
</form>