<h2>Make a New Note</h2>

<%if @interaction && @interaction.errors.any?%>
  <%@interaction.errors.messages.each do |k,v|%>
    <p id="alert"><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%><br>
<%end%>
<%if @note && @note.errors.any?%>
  <%@note.errors.messages.each do |k,v|%>
    <p id="alert"><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%><br>
<%end%>

<form action="/notes/for_interaction" method="POST">
  <label>*Content:</label>
 <input type="text" id="note_content" name="note[content]">
  
  <br></br>
  <br></br>

  <h3>Choose an existing Interaction to associate with this note:</h3>
 
  <%@user.interactions.each do |i|%>
    <input type="radio" name="note[interaction_id]" id="<%= i.id%>" value="<%=i.id%>"><%=i.date%></input><br>
  <%end%>
 
  <br></br>
 
  <h3>and/or, create a new Interaction:</h3>
  <label>Date:</label>
    <input  type="text" name="interaction[date]" id="interaction_date"></input>
  <br></br>

  <button type="submit" value="Create New Note" class="create-button">Create New Note</button>
  <br></br>
  <p>* Indicates a required field</p>

</form>